$color_1: #FFFFFF;
$color_2: #340D8E;
$color_3: #333333;
$color_4: #BD0000;
$color_5: #CA4F16;
$font-family_1: "Nunito Sans", Sans-serif;
$font-family_2: "Merriweather", Sans-serif;
$background-color_1: transparent;
$background-color_2: #0C4D72;
$background-color_3: #FFC20E;
$background-color_4: #F7F7F7;
$background-color_5: #FFFFFF;
$background-color_6: #340D8E;
$background-color_7: #CA4F16;
$background-color_8: #FED41A;

$mobile-breakpoint: 767px;